<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <nav class="navbar navbar-expand-md fixed-top navbar-light" style="background: rgb(48, 127, 51);" width="30%">
    <div class="container"> <a class="navbar-brand" href="#"><img src="C:/xampp/htdocs/tampilan/assets/app/logo_beebagi.png" class=" center-block img-fluid d-block shadowed" width="25%"></a>
      <div class="row">
        <div class="col-md-5" style="">
          <h3 class="">Home</h3>
        </div>
        <div class="col-md-5" style="">
          <h3 class="">Profile</h3>
        </div>
      </div> <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation" style=""> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
        </ul>
      </div>
    </div>
  </nav>
  <small class="form-text text-muted">
  </small>
  <div style="background: rgb(210, 236, 54);" class="row">
    <div class="container py-5"><br><br>
      <center>
        <div class="col-md-7 align-self-center order-1 order-md-2 my-3 text-md-left text-center" style="background: rgba(253, 251, 251, 0.29); border-radius: 30px;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12" style="">
                <h3 class=""><b>Buat Penggalan Dana</b></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class=""><b>Upload Foto</b></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3" style=""><img class="img-fluid d-block my-3 mx-auto animate-in-left" src="C:/xampp/htdocs/tampilan/assets/app/uil-image-plus.png" width="100"></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class=""><b>Detail Galang Dana</b></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-1"><img class="img-fluid d-block my-3 mx-auto animate-in-left" src="C:/xampp/htdocs/tampilan/assets/app/uil-image-plus.png" width="100"></div>
                  <div class="col-md-8" style="">
                    <form class="">
                      <div class="form-group"> <label>Judul *</label> <input type="email" class="form-control" placeholder="Enter email"> </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1"><img class="img-fluid d-block my-3 mx-auto animate-in-left" src="C:/xampp/htdocs/tampilan/assets/app/uil-image-plus.png" width="100"></div>
              <div class="col-md-8">
                <div class="form-group"> <label>Judul *</label> <input type="email" class="form-control" placeholder="Enter email"> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1"><img class="img-fluid d-block my-3 mx-auto animate-in-left" src="C:/xampp/htdocs/tampilan/assets/app/uil-image-plus.png" width="100"></div>
              <div class="col-md-8">
                <div class="form-group"> <label>Judul *</label> <input type="email" class="form-control" placeholder="Enter email"> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1"><img class="img-fluid d-block my-3 mx-auto animate-in-left" src="C:/xampp/htdocs/tampilan/assets/app/uil-image-plus.png" width="100"></div>
              <div class="col-md-8">
                <div class="form-group"> <label>Judul *</label> <input type="email" class="form-control" placeholder="Enter email"> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1"><img class="img-fluid d-block my-3 mx-auto animate-in-left" src="C:/xampp/htdocs/tampilan/assets/app/uil-image-plus.png" width="100"></div>
              <div class="col-md-8">
                <div class="form-group"> <label>Judul *</label> <input type="email" class="form-control" placeholder="Enter email"> </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
      </center>
    </div>
  </div>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>